body {
  background-color: #ddd;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #404bbf;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.search-container {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

input {
  font-size: 18px;
  padding: 10px;
  border: none;
  width: 15%;
  border-radius: 5px;
  vertical-align: middle;
  height: 20px;
}

.search-button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  vertical-align: middle;
  text-align: center;
}

.search-button:hover {
  background-color: #ddd;
}

.icon-search {
  border: none;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  z-index: 1;
  margin-top: 123px;
}

.photo-card {
  flex: calc(25% - 20px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.photo-card:last-child {
  flex: none;
  width: calc(25% - 15px);
}

.hidden {
  display: none;
}

.photo-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.photo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info {
  padding: 10px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
}

.info-item {
  margin: 0;
  padding: 5px 0;
}

.load-more {
  text-align: center;
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more:hover {
  background-color: #0056b3;
}

/* =====Modal===== */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.modal-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
